h1{color: darkred;} 
body{background-color: cornflowerblue;}
h2{color: crimson;}
p{color: dimgray;}
h1{margin: 150px;}
p{font-size: 10px;}
a{font-size: 20px;}
img{margin: 20px 0px 0px 75px;}
a{margin: 75px;}
h1{text-decoration: underline;}
p{align-content: flex-start;}
h2{font-family: sans-serif ;}
h1{font-family: serif;}
p{margin-left:75px;}
h1{font-size: 50px;}